<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link class="" href="/css/starrr.css" rel="stylesheet">
</head>
<body>

<div class="starrr"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script class="" src="/starrr.js"></script>

<script>
$(document).ready(function() {

console.log("run...1")

$('.starrr').starrr({
rating: 4
})

})

</script>

</body>
</html>