<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
<script src="css/style.css" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
		

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css" integrity="sha512-rt/SrQ4UNIaGfDyEXZtNcyWvQeOq0QLygHluFQcSjaGB04IxWhal71tKuzP6K8eYXYB6vJV4pHkXcmFGGQ1/0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer" defer="defer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.bundle.min.js" integrity="sha512-igl8WEUuas9k5dtnhKqyyld6TzzRjvMqLC79jkgT3z02FvJyHAuUtyemm/P/jYSne1xwFI06ezQxEwweaiV7VA==" crossorigin="anonymous" referrerpolicy="no-referrer" defer="defer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.4/dayjs.min.js" integrity="sha512-Ot7ArUEhJDU0cwoBNNnWe487kjL5wAOsIYig8llY/l0P2TUFwgsAHVmrZMHsT8NGo+HwkjTJsNErS6QqIkBxDw==" crossorigin="anonymous" referrerpolicy="no-referrer" defer="defer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w==" crossorigin="anonymous" referrerpolicy="no-referrer" defer="defer"></script>
<script class="" src="../plugin/js/datepicker-bs4.js" defer="defer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).ready(function () {
    //alert("ready");
    
    jQuery("#birth_date").on('change',function(){
    	//alert("생일 입장");
        var dob1 = jQuery(this).val();
       // alert(dob1+"/"+$("#birth_date").val());
        
        var dob = new Date(dob1);
        var today = new Date();
        var age = Math.floor((today-dob) / (365.25 * 24 * 60 * 60 * 1000))+1;
        
        $('#memberAge').val(age);

    });
    
    $('#memberPhoneNumber').on('input', function() {
        var number = $(this).val().replace(/[^\d]/g, '')
        if (number.length == 7) {
          number = number.replace(/(\d{3})(\d{4})/, "$1-$2");
        } else if (number.length == 11) {
          number = number.replace(/(\d{3})(\d{4})(\d{4})/, "$1-$2-$3");
        }
        $(this).val(number)
      });
});



function add(){
	var formdata = $('#add_form').serialize();
	//alert('edit 입장')
	$.ajax({
		url:'member_form',
		method:'post',
		cache:false,
		data:formdata,
		dataType:'json',
		success:function(res){
			if (res.emailBoolean == false) {
				alert('이메일이 존재합니다.');
				
				return;
			}
			else if(res.emailBoolean == true){
				alert('회원가입이 완료되었습니다. 로그인 폼으로 이동합니다.');
				location.href="member_main";
				
				return;
			}
				
			
		},
		error:function(xhr,status,err){
			alert('Error:'+err);
		}
	});
	return false; //이걸 하지 않으면 저장이 두번된다. 
}
</script>
</head>
<body>
<br/>

<p/><p/><p/><p/><p/><p/><p/>

<div class="body-background">

   <div class="container-fluid d-flex justify-content-center align-items-center h-100">
      
      
      <div class="card p-3 text-center py-4">
          <h4>HappySign 패밀리 회원가입 인증 입니다.</h4>
          <div><p>	
              <span>로그인 하시겠습니까?</span>
              <a href="" class="text-decoration-none">Sign In</a>
          </div><p>
          <form action="member_form" method="post"  id="add_form">
          
          <div class="mt-3 px-3">
              <input class="form-control" placeholder="Member Email"  type="text" name="memberEmail" id="memberEmail" required="required" >
          </div>
          <div class="mt-3 px-3">
              <input class="form-control" placeholder="Member Password"  type="text" name="memberPw" id="memberPw"  required="required" >
          </div>
          <div class="mt-3 px-3">
              <input class="form-control" placeholder="Member Name" type="text" name="memberName" id="memberName" required="required" >
          </div>
          <div class="mt-3 px-3">
              <input class="form-control" placeholder="Address"   type="text" name="address" id="address" required="required" >
          </div>
          
          <div class="container py-3">
         <div class="card">

<div class="card-body">
<div class="row justify-content-start">
<div class="form-group col-6">
<label for="birth_date">생일</label>
<div class="input-group">
<input type="text" id="birth_date" class="form-control" name="birthday" autocomplete="off" readonly="readonly"  required="required"/>
<div class="input-group-append"><button type="button" class="btn btn-outline-secondary" data-toggle="datepicker"><i class="far fa-calendar-alt"></i></button></div>
</div>
</div><!-- /.form-group -->
</div><!-- /.row -->
</div><!-- /.card-body -->
</div><!-- /card -->
<br />
</div>		
          <div class="mt-3 px-3">
              <input class="form-control" placeholder="Member Age"   type="text" name="memberAge" id="memberAge" required="required" readonly="readonly">
          </div>
           <div class="form-group">
            <div class="mt-3 px-3">핸드폰 번호(-없이 입력하세요)
              <input class="form-control" placeholder="Member Phone Number"   type="text" name="memberPhoneNumber" id="memberPhoneNumber" required="required">
          </div>
   			 <label for="exampleFormControlSelect1">성별 :</label>
    			<select class="form-control" name="gender" id="gender">
     				 <option>남성</option>
      				 <option>여성</option>
    			</select>
 		 </div>
         
       </form>
          <div class="mt-3 d-grid px-3">
              <button class="btn btn-primary btn-block btn-signup text-uppercase" type="button" onclick="add()">
                  <span>인증하기</span>
                  
              </button>
          </div>
            
          
          <div class="px-3">
              <div class="mt-2 form-check d-flex flex-row">
              <input class="form-check-input" type="checkbox" value="" id="services">
              <label class="form-check-label ms-2" for="services">
                비밀번호 / 아이디 저장
              </label>
            </div>
          </div>
      </div>
       
   </div> 
</div>
<script>
document.addEventListener('DOMContentLoaded', function () {
	jQuery('#start_date, #end_date, #birth_date').datepicker({

	});
});
</script>	
</body>
</html>