<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript">
function login_form()
{
	var formdata = $('#login_form').serialize();
	$.ajax({	//Json :Javascript Object Notation{'key':'value','key2':'var2',.....}
		url:'login_detail', //서버의 유저 //전송 속성
		method:'post', //보낸다 //전송 속성
		cache:false, //전송 속성
		data:formdata,
		dataType:'json', //응답 데이터 json 문자열 형식
		//주로 text,json,html,xml 서버
		success:function(res){
			if (res.login == true) {
				alert("로그인 성공");
				location.href="list_form";
			}else{
				alert("로그인 실패");
			}
		},
		error:function(xhr,status,err){
			alert(err);
		} //xhr 연결관련 status 상태 번호 err 메세지
		
		
	});
}

</script>
</head>
<body>
<div id="main" align="center">
<h3>로그인</h3>
<form  id="login_form" onsubmit="login_form()">
<div><label>아이디</label><input type="text" id="uid" name="uid"></div>
<div><label>비밀번호</label><input type="text" id="upw" name="upw"></div>
<div>
<button type="submit">입력</button>
<button type="reset">취소</button>
</div>
</form>
</div>

</body>
</html>