<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{thymeleaf/layout/basic :: setContent(~{this::content} )}">

   <th:block th:fragment="content">
   <!-- 여기다가 넣을 내용 삽입 -->

  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
<img class=""  src="../image/Article teaser dog walking etiquette.webp" alt="Sandwich" style="width:100%">

  <!-- First Photo Grid-->
  
   <div class="w3-row-padding w3-margin-top">
   
  <div class="w3-third">
    <div class="w3-card">
    <a href="/pet_add/add_form">
      <img class=""  src="../image/istock-1309817520.jpg" alt="Sandwich" style="width:100%">
      <h4>펫을 추가하시겠습니까?</h4>
       <div class="w3-container">
       <p>여러분들의 따듯한 애정과 함께하는 즐거움은 여러분 모두 뿐만 아니라 개의 마음까지 전해져 함께 기뻐할수 있습니다.</p>
      </a>
       </div>
    </div>
    </div>

   

  <div class="w3-third">
    <div class="w3-card">
      <a href="/pet/mainboard/list">
      <img class=""  src="../image/shutterstock_1780022249-1-768x512.jpg" alt="Steak" style="width:100%">
      <h4>산책 메이트를 구해보시겠습니까?</h4>
      <div class="w3-container">
      <p>함께하는 즐거움으로 여러분들과 모여서 함께 산책을 시작해보세요.</p>
      </a>
      </div>
    </div>
    </div>
  
    
   
  <div class="w3-third">
    <div class="w3-card">
    <a href="/ws/chat/list">
      <img class="" src="../image/walkie.png" alt="Cherries" style="width:100%">
      <h4>만남 채팅을 시작해보세요.</h4>
      <div class="w3-container">
      <p>기쁨을 누려 모임을 준비하여 장소를 마련해보세요 </p>
  	</a>
      </div>
    </div>
    </div>
  </div>
  </div>
  
  
 
  <hr id="about">

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center">  
    <h3></h3><br>
    <img  class="w3-image" src="../image/597d99c5b34440e9718b45a3.w800.jpg" alt="Me" style="display:block;margin:auto" width="800" height="533">
    <div class="w3-padding-32">
      <h4><b>고양이는 아홉 명의 생명을 가지고 있습니다.</b></h4>
      <h6><i>With Passion For Real, Good Food</i></h6>
      <p>이 말은 고양이가 무엇이든 살아남을 수 있다고 말하는 오래된 영어 속담입니다. 고양이는 높이에서 떨어질 때에도 발에 착륙 할 수 있습니다. 그들은 또한 포식자를 피하는 데 능숙하며 종종 잠재적으로 위험한 상황을 상처없이 탈출하는 것처럼 보입니다. 그 결과, 고양이는 운이 좋은 생물로 여겨졌고, 그 문구는 현대 어휘의 일부가되었습니다.</p>
   </div>
  </div>
  <hr>
  
  <!-- Footer -->
  <footer class="w3-row-padding w3-padding-32">
    <div class="w3-third">
      <h3>FOOTER</h3>
      <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>
  
   

    <div class="w3-third w3-serif">
      <h3>POPULAR TAGS</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dinner</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Salmon</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">France</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Drinks</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Flavors</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Cuisine</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Chicken</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dressing</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fried</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fish</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Duck</span>
      </p>
    </div>
  </footer>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

   
   </th:block>
   
</th:block>