<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>쪽지 보내기</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<style type="text/css">
		body{
			background-color: rgb(240, 235, 227);
		}
		#box{
			width:90%;
			border-radius: 5px;
			margin: 100px auto;
			padding: 5px;
		}
	</style>
	<script type="text/javascript">
		function messageinfo(){
			var data = $('#messageinfo').serialize();
			$.ajax({
				url : '/msg/addMsgInfo',
				method:'post',
				cache:false,
				data:data,
				dataType:'text',
				success:function(res){
					if(res=='true'){
						alert('전송되었습니다.');
						location.href="/msg/getMsgByReceiver";
					}else{
						alert('전송에 실패했습니다.');
					}
				},
				error:function(xhr,status,err){
					alert('전송에 실패했습니다.');
				}
			});
			return false;
		}
	</script>
</head>
<body>
<th:block th:replace="~{thymeleaf/layout/basic :: setContent(~{this::content} )}">

   <th:block th:fragment="content">
	   <div id="box">
			<form id="messageinfo" action="/msg/addMsgInfo" method="post" th:object="${msg}">
				<div class="mb-3">
				  <label for="exampleFormControlInput1" class="form-label" th:text="수신자"></label>
				  <input type="text" class="form-control" name="receiver" th:field="*{receiver}">
				</div>
				<div class="mb-3">
				  <label for="exampleFormControlInput1" class="form-label" th:text="제목"></label>
				  <input type="text" class="form-control" name="title" th:field="*{title}">
				</div>
				<div class="mb-3">
				  <label for="exampleFormControlTextarea1" class="form-label" th:text="내용"></label>
				  <textarea class="form-control" rows="10" name="contents" th:field="*{contents}"></textarea>
				</div>
				<div align="right" >
					<button class="btn btn-light" type="button"  onclick="messageinfo()" th:text="보내기"></button>
					<button class="btn btn-light" type="button"  th:onclick="location.href='/msg/getMsgByReceiver'" th:text="취소"></button>
				</div>
			</form>
		</div>
   
   </th:block>
   
</th:block>
	
</body>
</html>