<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="setContent(content)">
	<head>
		<title>HappyWalk Together</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">

		<style>
			html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
		</style>
		
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css" integrity="sha512-rt/SrQ4UNIaGfDyEXZtNcyWvQeOq0QLygHluFQcSjaGB04IxWhal71tKuzP6K8eYXYB6vJV4pHkXcmFGGQ1/0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link class="" href="/css/starrr.css" rel="stylesheet">
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer" defer="defer"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/js/bootstrap.bundle.min.js" integrity="sha512-igl8WEUuas9k5dtnhKqyyld6TzzRjvMqLC79jkgT3z02FvJyHAuUtyemm/P/jYSne1xwFI06ezQxEwweaiV7VA==" crossorigin="anonymous" referrerpolicy="no-referrer" defer="defer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.4/dayjs.min.js" integrity="sha512-Ot7ArUEhJDU0cwoBNNnWe487kjL5wAOsIYig8llY/l0P2TUFwgsAHVmrZMHsT8NGo+HwkjTJsNErS6QqIkBxDw==" crossorigin="anonymous" referrerpolicy="no-referrer" defer="defer"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w==" crossorigin="anonymous" referrerpolicy="no-referrer" defer="defer"></script> -->
<script class="" src="/plugin/js/datepicker-bs4.js" defer="defer"></script>
<script type="text/javascript">
	$( document ).ready(function() {
    console.log( "ready!" );
    var session = "[[${session.memberEmail}]]";
    console.log(session);
    if (session ==null || session.length==0) {
		alert("세션이 만료되어 다시 로그인 해주시기 바랍니다.");
		location.href="/pet/introduce_index";
	}
});
	$(document).ready(function () {
	    //alert("ready");
	    
	    jQuery("#birth_date").on('change',function(){
	    	//alert("생일 입장");
	        var dob1 = jQuery(this).val();
	       // alert(dob1+"/"+$("#birth_date").val());
	        
	        var dob = new Date(dob1);
	        var today = new Date();
	        var age = Math.floor((today-dob) / (365.25 * 24 * 60 * 60 * 1000))+1;
	        
	        $('#memberAge_up').val(age);

	    });
	    
	    $('#memberPhoneNumber_up').on('input', function() {
	        var number = $(this).val().replace(/[^\d]/g, '')
	        if (number.length == 7) {
	          number = number.replace(/(\d{3})(\d{4})/, "$1-$2");
	        } else if (number.length == 11) {
	          number = number.replace(/(\d{3})(\d{4})(\d{4})/, "$1-$2-$3");
	        }
	        $(this).val(number)
	      });
	});
	
	function edit(){
		alert("edit_form basic 입장");
		var formdata = $('#edit_form').serialize();
		$.ajax({
			url:'/member_modify/update_detail',
			method:'post',
			cache:false,
			data:formdata,
			dataType:'json',
			success:function(res){
				if (res.update == false) {
					alert('수정 실패');				
				}
				else if(res.update == true){
					alert('수정 하였습니다.');
					//location.href="/pet/main_index";
				}
			},
			error:function(xhr,status,err){
				alert('Error:'+err);
			}
		});
		return false; //이걸 하지 않으면 저장이 두번된다. 
	}	
	function logout(){
		if(!confirm('로그아웃 하시겠습니까?'))return; //로그아웃 안하겠다면 
		$.ajax({
			url:'/member_modify/logout',
			method:'post',
			cache:false,
			dataType:'text',
			success:function(res){	
				//alert("성공");
				location.href="/pet/introduce_index";
			},
			error:function(xhr,status,err){
				alert('Error:'+err);
			}
		});
		return false; //이걸 하지 않으면 저장이 두번된다. 
	}	
</script>	
	</head>
	
	<body class="w3-light-grey">
		<!-- Top container -->
		<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
		  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
		  <span class="w3-bar-item w3-right"><span th:text="${session.memberEmail}"></span>님 안녕하세요/<a href="" th:onclick="javascript:logout()" >로그아웃</a></span>
		</div>
		
		<!-- Sidebar/menu -->
		<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
		  <div class="w3-container w3-row">
		    <div class="w3-col s4">
		    
		      <img class="w3-circle w3-margin-right" src="/image/person-icons-131310.png"  style="width:46px">
		    </div>
		    <div class="w3-col s8 w3-bar">
		      <span><strong>[[${session.memberName}]]</strong>님, 환영합니다.</span><br>
		      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
		      <a class="w3-bar-item w3-button" th:onclick="javascript:updated()" ><i class="fa fa-user"></i></a>
		      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
		    </div>
		  </div>
		  <hr>
		  <div class="w3-container">
		    <h5>펫에 관한 모든 소셜리스트</h5>
		  </div>
		  <div class="w3-bar-block">
		    <a href="" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
		    <a href="/pet/main_index" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>메인 화면</a>
		    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>공지 사항</a>
		    <a href="/pet_add/add_form" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>펫 추가하기</a>
		    <a href="/pet/mainboard/list" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>산책 메이트 구하기</a>
		    <a href="/ws/chat/list" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>만남 채팅 시작</a>
		    <a href="/msg/getMsgByReceiver" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>알람 쪽지함</a>
		    <a href="/pet/pictureboard/list" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>반려견 사진게시판</a>
		    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>QR&문의 제보</a>
		    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>반려견을 위한 상품 판매</a>
		    <a href="/report/reportForm" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>신고 제보</a>
		 	<span th:if="${session.memberEmail}=='admin123@admin.com'">
		 		<a href="/report/show/all/list" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>신고 목록(어드민 전용)</a>
		 	</span>
		 	</div>
		</nav>
	
	<!-- Update Button -->	
	<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

      <div class="w3-center"><br>
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
        <img alt="Avatar" style="width:30%" class="w3-circle w3-margin-top"  src="../image/GettyImages-1291814647-e1654796088869.jpg" >
      </div>

      <form class="w3-container" action="update_detail" method="post" id="edit_form">
        <div class="w3-section">
          <label><b>이메일</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter member Email" name="memberEmail" id="memberEmail_up" required readonly="readonly">
          <label><b>패스워드</b></label>
          <input class="w3-input w3-border" type="text" placeholder="Enter member Pw" name="memberPw" id="memberPw_up" required>
          <label><b>닉네임</b></label>
          <input class="w3-input w3-border" type="text" placeholder="Enter member Name" name="memberName" id="memberName_up" required>
          <label><b>나이</b></label>
          <input class="w3-input w3-border" type="text" placeholder="Enter member Age" name="memberAge" id="memberAge_up" required>
         <div class="container py-3">
         <div class="card">

<div class="card-body">
<div class="row justify-content-start">
<div class="form-group col-6">
<label for="birth_date">생일</label>
<div class="input-group">
<input type="text" id="birth_date" class="form-control" name="birthday" autocomplete="off" readonly="readonly" />
<div class="input-group-append"><button type="button" class="btn btn-outline-secondary" data-toggle="datepicker"><i class="far fa-calendar-alt"></i></button></div>
</div>
</div><!-- /.form-group -->
</div><!-- /.row -->
</div><!-- /.card-body -->
</div><!-- /card -->
<br />
</div>		
          
          <label><b>핸드폰 번호</b></label>
          <input class="w3-input w3-border" type="text" placeholder="Enter member Phone Number" name="memberPhoneNumber" id=memberPhoneNumber_up required>
         
            
    <div class="form-group">
		<label for="sel1">성별</label>
		<select class="form-control" name="gender">
     				 <option>남자</option>
      				 <option>여자</option>
    			</select>			
    </div>   
          <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> Remember me
   </div> 
      </form>
 <button class="w3-button w3-block w3-green w3-section w3-padding" type="button" onclick="edit()">업로드 하기</button>
      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
        <span class="w3-right w3-padding w3-hide-small"><a href="#">비밀번호를 잃어버렸습니까?</a></span>
      </div>

    </div>
  </div>
		<!-- Overlay effect when opening sidebar on small screens -->
		<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
			
			<!-- !PAGE CONTENT! -->
			<div class="w3-main" style="margin-left:330px;margin-top:100px;">
				<th:block th:replace = "${content}"></th:block>
			  	<!-- End page content -->
			</div>
		
		
			<script>
			// Get the Sidebar
			var mySidebar = document.getElementById("mySidebar");
			
			// Get the DIV with overlay effect
			var overlayBg = document.getElementById("myOverlay");
			
			// Toggle between showing and hiding the sidebar, and add overlay effect
			function w3_open() {
			  if (mySidebar.style.display === 'block') {
			    mySidebar.style.display = 'none';
			    overlayBg.style.display = "none";
			  } else {
			    mySidebar.style.display = 'block';
			    overlayBg.style.display = "block";
			  }
			}
			
			// Close the sidebar with the close button
			function w3_close() {
			  mySidebar.style.display = "none";
			  overlayBg.style.display = "none";
			}
			</script>
			<script>
function updated(){

	var memberEmail = "[[${session.memberEmail}]]";
	//alert(memberEmail+"입장");
	document.getElementById('id01').style.display='block';
	$.ajax({
		url:'/member_modify/updated?memberEmail='+memberEmail,
		method:'post',
		cache:false,
		dataType:'json',
		success:function(res){
			$( "#memberPw_up" ).val(res.memberPw);
			$( "#memberName_up" ).val(res.memberName);
			$( "#memberAge_up" ).val(res.memberAge);
			$( "#birth_date" ).val(res.birthday);
			$( "#gender_up" ).val(res.gender);
			$( "#memberPhoneNumber_up" ).val(res.memberPhoneNumber);
			$( "#memberEmail_up" ).val(res.memberEmail);
			//document.getElementById("petName_up").innerHTML = res.name;
			//document.getElementById("breed_up").innerHTML = res.breed;
			//alert(res.name+"/"+res.breed+"/"+res.size);
		},
		error:function(xhr,status,err){
			alert('Error:'+err);
		}
	});
}

</script>
<script>
document.addEventListener('DOMContentLoaded', function () {
	jQuery('#start_date, #end_date, #birth_date').datepicker({

	});
});
</script>	
	</body>
	
</th:block>
</html>